#footer {
    position: relative;
    width: 100%;
    height: 65px;
    background-color: #8D00CD;
    text-align: center;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: bold;
    font-size: 20px;
}

#footer>div {
    position: relative;
    display: flex;
    justify-content: center;
    margin: 0 auto;
    width: 120px;
    height: 100%;
    text-align: center;
}

#footer>div>span {
    align-self: center;
    color: white;
    font-weight: bold;
}